{{#each users}}
<tr>
    <td>
        {{user_id}}
    </td>
    <td>
        {{username}}
    </td>
    <td>
        {{phone}}
    </td>
    <td>
        {{email}}
    </td>
    <td>
        {{birthDate}}
    </td>

    {{> actionsWorkers}}
    
</tr>
{{/each}}