<div class="tooltips">
        <img src="./images/help.jpg" with="25" height="25" alt="Ajuda" />
        <span class="tooltiptext">Nesta p&aacute;gina poder&aacute; consultar e atualizar os dados do volunt&aacute;rio registados no SI.</span>
    </div>

<div id="register">
    <h1>Actualizar voluntário</h1>
    <form id="registerForm" onsubmit="updateVolunteer({{user.user_id}}); return false" method="post">
        <div class="form-group">
            <label>Nome</label>
            <input id="username" class="input-form" type="text" name="userName" value="{{user.username}}" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input id="email" class="input-form" type="email" name="email" value="{{user.email}}" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Número de telefone</label>
            <input id="phone" class="input-form" type="text" name="phoneNumber" value="{{user.phone}}" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Data de Nascimento</label>
            <input id="birthDate" class="input-form" type="date" name="birthDate" value="{{user.birthDate}}" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Permissões</label>
            <select id="updateProfile" class="input-form">

                {{#if selected.administrator}}
                <option value="administrador" selected="selected">Administrador</option>
                <option value="funcionário">Funcionário</option>
                <option value="voluntário">Voluntário</option>
                {{else if selected.worker}}
                <option value="administrador">Administrador</option>
                <option value="funcionário" selected="selected">Funcionário</option>
                <option value="voluntário">Voluntário</option>
                {{else}}
                <option value="administrador">Administrador</option>
                <option value="funcionário">Funcionário</option>
                <option value="voluntário" selected="selected">Voluntário</option>
                {{/if}}

            </select>
            <span class="highlight"></span>
            <span class="bar"></span>
            <span class="text-danger"></span>
        </div>
        <div id="submit" class="form-group">
            <button type="submit" class="confirmationButton">Actualizar</button>
        </div>
    </form>
</div>